<h1>Homepage</h1>
<a href="/anotherpage">another page</a>
<h2>hi, <%= name%></h2>
<h3>These are all my friends</h3>
<ul>
    <% for(let i = 0; i < friends.length; i++){ %>
        <li><%= friends[i] %></li>
    <% } %>


</ul>